body {
  margin: 0;
  padding: 0;
  background-color: #d6d6c2;
}

.wrapper {
  margin-bottom: 10px;
}

.wrapper .input_container {
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 70%;
  margin: 0 auto;
}

table tr,
table td,
table th {
  border: 1px solid;
  padding: 10px;
}

table th {
  font-family: Arial;
}

table td:first-child {
  font-family: Arial;
}

table td:not(:first-child) {
  text-align: center;
  font-family: Verdana;
}

#input {
  font-size: 20px;
  padding: 20px;
}

#generate,
#delete {
  margin-left: 15px;
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.generButt {
  -moz-box-shadow: 3px 3px 8px 4px #9fb4f2;
  -webkit-box-shadow: 3px 3px 8px 4px #9fb4f2;
  box-shadow: 3px 3px 8px 4px #9fb4f2;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
  border:4px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:23px;
  padding:12px 76px;
  text-decoration:none;
}
.generButt:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
  background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
  background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
  background-color:#476e9e;
}
.generButt:active {
  position:relative;
  top:1px;
}

.dellButt {
  -moz-box-shadow: 3px 3px 8px 4px #9fb4f2;
  -webkit-box-shadow: 3px 3px 8px 4px #9fb4f2;
  box-shadow: 3px 3px 8px 4px #9fb4f2;

  background-color:#e4685d;
  -moz-border-radius:11px;
  -webkit-border-radius:11px;
  border-radius:11px;
  border:4px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Trebuchet MS;
  font-size:23px;
  padding:12px 76px;
  text-decoration:none;
}
.dellButt:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eb675e), color-stop(1, #7892c2));
  background-color:#eb675e;
}
.dellButt:active {
  position:relative;
  top:1px;
}